version: "3.9"

services:
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: video_store_db
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: db_password
    ports:
      - 5432:5432

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.3
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
  video_store:
    build:
      context: ./services/video_store 
      dockerfile: Dockerfile
    image: video-streaming-api:latest
    depends_on:
      - postgres
      - kafka 
    environment:
      KAFKA_BROKERS: "kafka:9092" 
      DATABASE_URL: "postgres://db_user:db_password@postgres:5432/video_store_db?sslmode=disable"
    ports:
      - "8082:8080"
    restart: unless-stopped
    env_file:
      - .env
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9091:9090"
    volumes:
      - ./services/video_store/observability/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - video_store

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    restart: unless-stopped
    depends_on:
      - prometheus  
  transcoding:
    build:
      context: ./services/transcoding
      dockerfile: Dockerfile
    image: video-streaming-transcoding:latest
    depends_on:
      - kafka
    environment:
      KAFKA_BROKERS: "kafka:9092"
      VIDEO_STORAGE_PATH: "/var/videos"
    volumes:
      - C:/Users/eduar/Videos/video_worker:/var/videos
    ports:
      - "8081:8080"
    restart: unless-stopped
    env_file:
      - .env
